/* General styles for the entire page */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2rem;
  height: 100vh;
}

/* Styles for the BookList section */
.BookList {
  background-color: #fafafa;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  margin-top: 2rem;
 
}

/* Styles for the heading in the BookList */
.BookList h1 {
  font-size: 2em;
  margin-right: 1.5rem;

}

/* Styles for each book article */
.book {
  background-color: #fafafa;
  padding: 15px;
 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align:justify;
}

/* Styles for the book image */
.book img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Styles for the book title */
.book h3 {
  font-size: 1.5em;
  margin: 0 0 10px;
  color: #333;
}

/* Styles for the book author */
.book h4 {
  font-size: 1.2em;
  margin: 0;
  color: #666;
}


.BookList p span {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 2px;

}